@import "variables.scss";

body {
  background: #25A9FC;
}

.canvas-container {
  border: solid 10px white;
  position: relative; //this with the block and auto below center div.
  margin: auto;
  display: block;
  margin-top: 8%; //makes 8% lower than top of page
  width: 600px;
  height: 420px;
  background: none;
}

.koala {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background-color: $koala-grey-color;
  border-radius: 50%;


  &--copy {
    width: 100%;
    height: 100%;
    position: absolute;
    background: $koala-grey-color;
    border-radius: 50%;
    z-index: 2;
  }

  &__ear--outer-left {
    position: absolute;
    width: 60%;
    height: 65%;
    background-color: $koala-grey-color;
    border-radius: 50%;
    z-index: 1;
    left: -20%;
    top: 5%;
  }
  &__ear--outer-right {
    position: absolute;
    width: 60%;
    height: 65%;
    background-color: $koala-grey-color;
    border-radius: 50%;
    z-index: 1;
    right: -20%;
    top: 5%;
  }

  &__ear--inner {
    position: absolute;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    z-index: 1;
    background-color: $koala-ear-color;
  }

  &__eye {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: 3;
    width: 30%;
    height: 33%;
    top: 25%;


    &--left {
      left: 21%;
    }

    &--right {
      right: 21%;
    }

    &--pupil {
      position: absolute;
      background-color: black;
      width: 30%;
      height: 30%;
      border-radius: 50%;
      left: 36%;
      top: 35%;
      z-index: 4;
    }
  }

  &__nose {
    position: absolute;
    background: $nose-color;
    height: 42.5%;
    width: 25%;
    border-radius: 50px; //said when items arent round and just corners rounded its easier to use px instead of %
    z-index: 4;
    top: 45%;
    left: 37%;
  }

  &__hair {
    position: absolute;
    width: 20%;
    height: 20%;
    z-index: 1;
    background-color: $koala-grey-color;

  }



}
